<div class="container mx-auto px-[112px] mt-[104px] flex flex-col space-y-[12px]">
    <div class="text-[16px] leading-none font-avenirmed">Hey there!</div>
    <div id="intro" class="text-[32px] text-secondary leading-[42px]">
        {{intro_text}}
    </div>
</div>

<div id="projects" class="w-full mt-[36px] pt-[60px] pb-[120px] bg-warmgray">
    <div class="container mx-auto px-8 grid grid-cols-2 gap-[60px]">
        {{collection:projects}}
            <div class="flex flex-col space-y-[9px]">
                <a href="{{url}}"><img src="{{main_image}}" alt=""></a>
                <div class="px-[50px] text-[16px] leading-[21px]">
                    {{summary}}
                </div>
            </div>
        {{/collection:projects}}
    </div>
</div>

{{partial:_footer1}}